@media screen and (max-width: 600px) {
  .nav__title {
    font-size: 20px;
  }
  .nav__menu {
    font-size: 20px;
    margin-left: 20px;
  }
  .main__side {
    display: none;
  }
  main {
    width: 500px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
